*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background-color: rgb(195, 195, 196);
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
    margin-bottom: 30px;
}